@import "_theme";

.app-list {
  position: relative;
  display: inline-block;
  width: 300px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  border: 1px solid $app-border;
  border-radius: 4px;

  h2 {
    padding: 1px 4px 4px 4px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
    border: 1px solid $app-border;
    border-radius: 4px;
  }

  ul {
    padding: 0px;

    li {
      list-style: none;
      margin-top: 10px;
    }
  }

  .app-delete-list-btn {
    position: absolute;
    font-size: 1.5em;
    padding: 2px;
    border-radius: 2px;
  }

  .app-delete-list-btn:hover {
    color: red;
  }

  .app-delete-list-btn:active {
    color: blue;
  }

  .app-edit-list-btn {
    position: absolute;
    left: 0;
    font-size: 1.5em;
    margin-left: 35px;
    padding: 2px;
    border-radius: 2px;
  }

  .app-edit-list-btn:hover {
    color: green;
  }

  .app-edit-list-btn:active {
    color: blue;
  }

}
